<div class="logo">
  <img src="assets/images/fuckitship.png" width="100" alt="Ship!">
</div>
<div class="row centered">
  <div class="col-lg-8 col-lg-offset-2 w" id="homeTitle">
    <h1>Fuck it, Ship it</h1>
  </div>
</div>
<div class="row centered">
  <div id="schools" class="w">
    <div id="michigan" class="school"><img src="images/Block_M__Maize.png"></div>
    <div id="purdue" class="school"><img src="assets/images/purdue.png"></div>
    <div id="pennState" class="school"><img src="assets/images/pennstate.png"></div>
    <div id="ucla" class="school"><img src="assets/images/ucla.png"></div>
    <div id="georgia" class="school"><img src="assets/images/georgia.png"></div>
  </div>
</div>