<div class="logo">
  <img src="assets/fuckitship.png" width="100" alt="Ship!">
</div>
<div class="row centered">
  <div class="col-lg-8 col-lg-offset-2 w" id="homeTitle">
    <h1>Fuck it, Ship it</h1>
  </div>
</div>
<div class="row centered">
  <div id="schools" class="w">
    <div id="michigan" class="school"><img src="assets/Block_M__Maize.png"></div>
    <div id="purdue" class="school"><img src="assets/purdue.png"></div>
    <div id="pennState" class="school"><img src="assets/pennstate.png"></div>
    <div id="ucla" class="school"><img src="assets/ucla.png"></div>
    <div id="georgia" class="school"><img src="assets/georgia.png"></div>
    <!-- <a data-toggle="tooltip" title="Dribbble" href="http://dribbble.com/CarlosAlvarez"><i class="fa fa-dribbble"></i></a>
    <a data-toggle="tooltip" title="Twitter" href="http://twitter.com/BlackTie_co"><i class="fa fa-twitter"></i></a>
    <a data-toggle="tooltip" title="Premium Themes" href="https://wrapbootstrap.com/user/Basicoh"><i class="fa fa-briefcase"></i></a>
    <a data-toggle="tooltip" title="Free Themes" href="http://BlackTie.co"><i class="fa fa-heart"></i></a>
    <a data-toggle="tooltip" title="Blog" href="http://freelance.postach.io"><i class="fa fa-comment"></i></a>
    <a data-toggle="tooltip" title="Email Me!" href="mailto:carlos@alvarez.is"><i class="fa fa-envelope"></i></a>
    <a data-toggle="tooltip" title="Newsletter" href="http://eepurl.com/Eck_T"><i class="fa fa-coffee"></i></a> -->
  </div>
</div>