/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, .container {
  min-width: 420px !important;
}

footer {
  margin-bottom: 30px;
}

#homeTitle h1 {
  font-size: 100px !important;
}

#schools {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  /*float: none !important;*/
}

.school {
  float: left;
  margin: 10px 0px 0px 20px;
}

#progress {
  width: 170px;
  margin: 0 auto;
}

#contact a {
  text-decoration: underline;
  color: #555;
}

#contact p {
  margin-bottom: 0px;
}

#hacksTitle h1 {
  text-align: center;
  padding-bottom: 80px;
}

.info {
  width: 100%;
  height: 100px;
}

.text {
  width: 80%;
  float: left;
}

.hackatar {
  width: 20%;
  height: 100%;
  float: left;
}

.hackatar img {
  max-height: 90px;
  border-radius: 50%;
}

.hack {
  padding: 20px;
  width: 100%;
}

.hack:nth-child(odd) {
  background: rgba(100, 100, 100, 0.3);
  color: white !important;
}

.hack:nth-child(even) {
  background: rgba(255, 255, 255, 0.3);
}

.hack p {
  margin-bottom: 0px;
}

.hackImg {
  max-height: 300px;
  float: right;
}

@media (max-width: 1199px) {
  #schools {
    /*width: 800px;*/
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1000px) {
  body {
    min-width: 420px;
  }
  #schools {
    width: 80%;
    min-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}
