/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, .container {
  min-width: 420px !important;
}

#schools {
  width: 800px;
  /*float: none !important;*/
}

.school {
  float: left;
  margin-left: 20px;
}

#progress {
  width: 170px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  #schools {
    /*width: 800px;*/
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 850px) {
  body {
    min-width: 420px;
  }
  #schools {
    width: 80%;
    min-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}